/*Código da divulgação da etec*/
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    align-items: center;
    width: 100%;

}

header h1 {
    margin: 0;
}
#mrg{
    padding: 1%;
    text-shadow: 2px 2px #c90707;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #000000;
    transform: scale(1.1);
    text-shadow: 2px 2px #1a6492;
}
section {
    padding: 40px 0;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.mensagem{
    resize: none;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.hist-mod{
    padding: 20px;
}

.btn-div{
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 5px;
}

.btn-div:hover {
    background-color: #000000;
    transition: 0.4s;
    transform: scale(1.05);
}

.btn-div1{
    margin-top: 1%;
    border-radius: 5px;
}

.btn-div1:hover {
    background-color: #000000;
    transition: 0.4s;
    transform: scale(1.05);
}

.btn-div2{
    background-color: #f40404;
    margin-top: 1%;
    border-radius: 5px;
}

.btn-div2:hover {
    background-color: #b10808;
    transition: 0.4s;
    transform: scale(1.05);
}

.cursos{
    margin-left: 3%;
}